{% extends "admin/admin_base.html" %}

{% block content %}
<div class="content-header sty-one">
    <h1 class="text-dark">USER MANAGEMENT</h1>

<div class="pull-right search-box">
    <form action="" method="get" class="search-form">
        <div class="input-group">
            <input name="key" class="form-control" placeholder="Search..." type="text">
            <span class="input-group-btn">
          <button type="submit"  id="search-btn" class="btn btn-flat"><i
                  class="fa fa-search"></i> </button>
          </span></div>
    </form>
    <!-- search form --> </div>
</div>

<br>
<br>

<div class="container">

    <section>
        <div class="row active_user_table">
            <div class="table-responsive">
                <caption><p class="table_caption"> Active Users</p></caption>
                <table class="data-table table hover multiple-select-row nowrap" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Username</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email ID</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Block</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{user.username}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone_number}}</td>
                        {% if user.is_active %}
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-circle bg-success rounded-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                        </td>
                        {% else %}
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-circle bg-danger rounded-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                        </td>
                        {% endif %}
                        {% if user.is_active %}
                        <td><a href="" data-bs-toggle="modal" data-bs-target="#blockuser-{{user.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg>
                        </a></td>
                        <div class="modal fade" id="blockuser-{{user.id}}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <p style="color:#000000 ;">Do you really want to block {{user.username}}</p>
                                    </div>
                                    <div class="modal-footr d-flex justify-content-between p-3">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>


                                        <a href="{%  url 'blockuser' user.id %}">
                                            <button class="btn btn-danger " type="submit" style="background:dark-red;">
                                                Confirm
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                    crossorigin="anonymous"></script>
                        </div>
                        {% else %}
                        <td><a onclick="unblockUser()" data-bs-toggle="modal" data-bs-target="#unblock-{{user.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                            </svg>
                        </a></td>
                        <div class="modal fade" id="unblock-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <p style="color:#000000 ;">Do you really want to unblock {{user.username}}</p>
                                    </div>
                                    <div class="modal-footr d-flex justify-content-between p-3">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>


                                        <a href="{%  url 'unblockuser' user.id %}">
                                            <button class="btn btn-danger " type="submit" style="background:dark-red;">
                                                Confirm
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                    crossorigin="anonymous"></script>
                        </div>
                        {% endif %}
                        <td><a href="" style="margin-left: 15px;" data-bs-toggle="modal"
                               data-bs-target="#deleteuser-{{user.id}}" onclick="deleteuser()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a></td>
                        <div class="modal fade" id="deleteuser-{{user.id}}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <p style="color:#000000 ;">Do you really want to delete {{user.username}}</p>
                                    </div>
                                    <div class="modal-footr d-flex justify-content-between p-3">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>


                                        <a href="{%  url 'deleteuser' user.id %}">
                                            <button class="btn btn-danger " type="submit" style="background:dark-red;">
                                                Confirm
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                    crossorigin="anonymous"></script>
                        </div>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block script %}
<script>
	function deleteuser() {
		event.preventDefault();
		var dlt = event.currentTarget.href
		console.log(dlt)
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.isConfirmed) {

				window.location = dlt;
			}
		})
	}

</script>

<script>
	function blockUser() {
		event.preventDefault();
		var block = event.currentTarget.href
		console.log(block)
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, Block it!'
		}).then((result) => {
			if (result.isConfirmed) {

				window.location = block;
			}
		})
	}

</script>

<script>
	function unblockUser() {
		event.preventDefault();
		var unblock = event.currentTarget.href
		console.log(unblock)
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, UnBlock it!'
		}).then((result) => {
			if (result.isConfirmed) {

				window.location = unblock;
			}
		})
	}

</script>


{% endblock script %}