{% extends "admin/admin_base.html" %}

{% block content %}

<!-- Content Header (Page header) -->
<div>
    <button class="btn btn-dark"><a href="{% url 'brand_offer'%}" class="text-white">Brand Offer</a></button>
     <button class="btn btn-dark"><a href="{% url 'product_offer'%}" class="text-white">ProductOffer</a></button>
     <button class="btn btn-dark"><a href="{% url 'category_offer'%}" class="text-white">Category Offer</a></button>
</div>
<div class="content-header sty-one">
    <h1 class="text-dark">Category Offer</h1>
    <a href="{% url 'add_category_offer'%}">
        <button type="submit" class="btn btn-dark">Add Category Offer</button>
    </a>

</div>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col" class="">Category Name</th>
            <th scope="col">Discount</th>
            <th scope="col">Status</th>
            <th scope="col">Block/Unblock</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>


        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{offer.category_name}}</td>
            <td>{{offer.discount}}%</td>
            {% if offer.is_valid %}
            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
  <circle cx="8" cy="8" r="8"/>
</svg></td>
            {% else %}
            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
  <circle cx="8" cy="8" r="8"/>
</svg></td>
            {% endif %}
            {% if offer.is_valid %}
            <td><a href="{%  url 'blockCategoryOffer' offer.id %}" onclick="blockOffer()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
</svg></a></td>
            {% else %}
            <td><a href="{%  url 'unblockCategoryOffer' offer.id %}" onclick="unblockOffer()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
  <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
</svg></a></td>
            {% endif %}


            <td><a href="{%  url 'editCategoryOffer' offer.id %}">
                <button type="submit" class="btn btn-dark">Edit</button>
            </a></td>

            <td><a href="{%  url 'deleteCategoryOffer' offer.id %}">
                <button type="submit" class="btn btn-dark" >Delete</button>
            </a></td>





        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
	function deleteOffer() {
		event.preventDefault();
		var dlt = event.currentTarget.href
		console.log(dlt)
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.isConfirmed) {

				window.location = dlt;
			}
		})
	}
</script>
<!-- /.content -->
{% endblock content %}