
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sales Report</title>
</head>
<body>
<!-- Content Header (Page header) -->
<div class="content-header sty-one">
    <h1 class="text-dark">Sales Report</h1>


</div>
<br>



<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Product</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Sales Count</th>
            <th scope="col">Revenue</th>
            <th scope="col">Profit</th>


        </tr>
        </thead>
        <tbody>
        
        <tr class="text-center">

            <th scope="row">1</th>
            <td>SCIMITAR Flite Short Cuff Gloves</td>
            <td>SCIMITAR</td>
            <td>GLOVES</td>
            <td>76</td>
            <td>1900</td>

            <td>
                                    
                                    23

                                    
                                </td>

             <td>
                                
                                 22325.0

                                
                                </td>
            <td>
                                    
                                    5134.75

                                    

                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">2</th>
            <td>Forma Adventure Riding Boots (Low)</td>
            <td>FORMA</td>
            <td>BOOTS</td>
            <td>11</td>
            <td>20000</td>

            <td>
                                    
                                    13

                                    
                                </td>

             <td>
                                
                                 238000.0

                                
                                </td>
            <td>
                                    
                                    54740.0

                                    

                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">3</th>
            <td>MACNA BORA RIDING PANTS</td>
            <td>MACNAS</td>
            <td>PANTS</td>
            <td>3</td>
            <td>12500</td>

            <td>
                                    
                                    19

                                    
                                </td>

             <td>
                                
                                 207500.0

                                
                                </td>
            <td>
                                    
                                    47725.0

                                    

                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">4</th>
            <td>MT Helmet Rapide Pro Carbon</td>
            <td>MT</td>
            <td>HELMETS</td>
            <td>3</td>
            <td>22350</td>

            <td>
                                    
                                    20

                                    
                                </td>

             <td>
                                
                                 202267.5

                                
                                </td>
            <td>
                                    
                                    46521.525

                                    

                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">5</th>
            <td>SCIMITAR Cosmo V2 Riding Jacket With Level 2 Armour</td>
            <td>SCIMITAR</td>
            <td>JACKETS</td>
            <td>98</td>
            <td>3800</td>

            <td>
                                    
                                    2

                                    
                                </td>

             <td>
                                
                                 2280.0

                                
                                </td>
            <td>
                                    
                                    524.4

                                    

                                </td>



        </tr>
        

        </tbody>

    </table>

</div>





<!-- /.content -->

</body>
</html>
