{% extends "admin/admin_base.html" %}

{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header sty-one">
    <h1 class="text-dark">Product List</h1>
    <a href="{% url 'addproduct'%}">
        <button type="submit" class="btn btn-dark">Add Product</button>
    </a>

</div>
<br>
<div class="pull-right search-box">
    <form action="" method="get" class="search-form">
        <div class="input-group">
            <input name="key" class="form-control" placeholder="Search..." type="text">
            <span class="input-group-btn">
          <button type="submit"  id="search-btn" class="btn btn-flat"><i
                  class="fa fa-search"></i> </button>
          </span></div>
    </form>
    <!-- search form --> </div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for x in productvalues %}
        <tr>

            <th scope="row">{{x.id}}</th>
            <td>{{x.product_name}}</td>
            <td>{{x.description}}</td>
            <td>{{x.price}}</td>
            <td>{{x.stock}}</td>
            <td>{{x.category}}</td>
            <td>{{x.brand}}</td>
            <td><img src="{{x.images.url}}" style="width: 40%; " ></td>
            <td><a href="{% url 'edit-product' x.id %}">
                <button type="submit" class="btn btn-dark">Edit</button>
            </a></td>
            <!-- <td><a href="delete/{{ x.id }}"><button type="submit" class="btn btn-danger" onclick="return confirmation()" >delete</button></a></td> -->

            <td>
                <form action="{% url 'delete-product' x.id %}" method="POST">
                    {% csrf_token %}

                    <a data-bs-toggle="modal" data-bs-target="#delete-{{x.id}}">
                        <button type="" class="btn btn-dark btn-block mb-4">Delete</button>

                    </a>
                    <div class="modal fade" id="delete-{{x.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        x
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <p style="color:#000000 ;">Do you really want to delete {{x.product_name}}</p>
                                </div>
                                <div class="modal-footr d-flex justify-content-between p-3">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>

                                    <a href="">
                                        <button class="btn btn-danger " type="submit" style="background:dark-red;">Confirm</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                crossorigin="anonymous"></script>
                    </div>
                </form>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>

</div>
<nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if productvalues.has_previous %}

            <li class="page-item"><a class="page-link text-dark" href="?page={{ productvalues.previous_page_number }}">Previous</a></li>

            {% endif %}
            <li class="page-item"><a class="page-link text-dark" href="#">Page {{productvalues.number}} of {{productvalues.paginator.num_pages}}</a></li>

            {% if productvalues.has_next %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{productvalues.next_page_number}}">Next</a></li>

          {% endif %}




            </ul>
          </nav>
</div>
</div>
</div>
</div>
</div>

<!-- /.content -->
{% endblock content %}