{% extends "user/base.html" %}

{% block content %}
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
<section class="section-content padding-y bg my-5 mb-5">
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    <div class="container ">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item {% if '/dashboard' == request.path %}active{% endif %}"
                       href="{% url 'dashboard' %}"> Dashboard </a>
                    <a class="list-group-item {% if '/my_orders' in request.path %}active{% endif %}"
                       href="{% url 'my_orders' %}"> My Orders </a>
                    <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}"
                       href="{% url 'edit_profile' %}"> Edit Profile </a>
                    <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}"
                       href="{% url 'change_password' %}">Change
                        Password </a>

                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'user_logout' %}"> <i class="fa fa-power-off"></i> <span
                        class="text">Log out</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class=" mr-3">Edit Profile</strong>

                    </header>
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{{userprofile.profile_picture.url}}" alt="Profile Picture" width="100" style="border-radius:50px">
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>First Name</label>
                                            {{user_form.first_name}}

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Last Name</label>
                                            {{user_form.last_name}}

                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Phone Number</label>
                                            {{user_form.phone_number}}

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Profile Picture</label>
                                           {{profile_form.profile_picture}}

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 1</label>
                                        {{profile_form.address_line_1}}
                                    </div>
                                     <div class="form-group">
                                        <label>Address Line 2</label>
                                       {{profile_form.address_line_2}}
                                    </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>City</label>
                                         {{profile_form.city}}

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>State</label>
                                            {{profile_form.state}}

                                        </div>
                                           <div class="form-group col-md-12">
                                            <label>Country</label>
                                            {{profile_form.country}}

                                        </div>

                                    </div>
                                    <input type="submit" value="Save" class="btn btn-dark my-2">

                                </form>
                            </div>


                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->

                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>


{% endblock content %}
