{% extends 'user/base.html' %}
{% load static %}


{% block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Enter Your OTP</h4>

            <form action="{% url 'otp_reset_password' %}" method="POST">
                {%csrf_token %}
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Enter OTP" name="otp">
                </div> <!-- form-group// -->
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                    <button onclick="window.location.href = '{% url 'resent_otp' %}'; " id="resend" type="button"
                            class="btn btn-primary btn-block">Resend
                    </button>
                </div> <!-- form-group// -->

            </form>
           </div>
    </div>
</section>
{% endblock content %}